.search-form {
  margin-top: 20px;
  text-align: center;
}

.wraper-button {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.button {
  padding: 12px 24px;
  border-radius: 5px;
}

.hidebutton {
  display: none;
}
